/* input[type=checkbox] { display: none; }
input[type=checkbox] + label { background: cyan; }
input[type=checkbox]:checked + label { background: red; } */

.button {
  background-color: grey;
  color: white;
  font-weight: bold;
}
.button:active, .button:focus {
  background-color: green;
}
